<h2>Plans</h2>
<div class="container">
  <div class="row">
    <ul class="list-group col-sm-6">
      <li class="list-group-item list-group-item-success">FREE</li>
      <li class="list-group-item">Free</li>
      <li class="list-group-item">Unlimited public wikis</li>
      <li class="list-group-item">No private wiki</li>
      <li class="list-group-item">No suppport</li>
      <li class="btn btn-success btn-lg"> select</li>
    </ul>
    <ul class="list-group col-sm-6">
      <li class="list-group-item list-group-item-warning">PREMIUM</li>
      <li class="list-group-item">$9.99/mo</li>
      <li class="list-group-item">Unlimited public wikis</li>
      <li class="list-group-item">Unlimited private wikis</li>
      <li class="list-group-item">24/7 email support</li>
      <li class="btn btn-success btn-lg"> select</li>
    </ul>
  </div>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
