<div class="jumbotron">
  <% if policy(@wiki).edit? %>
    <%= link_to 'edit wiki', edit_wiki_path %>
  <% end %></br>
  <% if policy(@wiki).destroy? %>
    <%= link_to 'delete wiki', wiki_path(@wiki), method: :delete %>
  <% end %></br>
  
  <p>Visibility: <%= @wiki.level%></p>
  <p>Author: <%= @wiki.user.email %></p>
  <p>Collaborators: 
      <% @wiki.collaborators.each do |c| %> 
        <p><%= c.email %></p>
      <% end %>
  </p>
  <h3><%= markdown_to_html @wiki.subject %></h3>
  </br>
  <div class="col-md-offset-1"><%= markdown_to_html @wiki.body %></div>
</div>