<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <div class="nav nav-tabs navbar-left">
        <li><%= link_to "Discover", wikis_path %></li>
        <% if current_user && current_user.free? %>
          <li><%= link_to "Upgrade", new_charge_path, method: :get %></li>
        <% elsif current_user && current_user.premium? %>  
        <% else %>
          <li><%= link_to "Pricing", pricing_index_path %></li>
        <% end %>
        <% if current_user %>
          <li><%= link_to "Create new wiki", new_wiki_path, data: {no_turbolink: true} %></li>
          <li><%= link_to "My wikis", user_path(current_user) %></li>
        <% end %>
      </div>
      <div class="nav nav-tabs navbar-right">
        <% if !current_user.present? %>
        <li><%= link_to "Sign in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% else %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% end %>                    
      </div>
    </ul>

    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <% if flash[:error] %>
        <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-warning"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
